@model  IEnumerable<Archery.Models.Tournament>

    <h3> Bienvenue Prochain Tournois des Armes</h3>


    <ul class="row">

        @foreach (var item in Model)
        {
            <li class="col-xs-4">
                <div class="table table-condensed table-hover" style="border-style: outset;">
                    <h4><strong>Nom: </strong> @item.Name </h4>
                    <br />
                    <strong>Location: </strong> @item.Location
                    <br />
                    <strong>Date Debut:</strong> @item.StartDate.ToString("ddd dd MMM yyyy")
                    <br />
                    <a class="btn btn-success" href="#"><i class="icon-shopping-cart icon-white"></i> Inscription »</a>
                    <a class="btn btn-success" href="@Url.Action("details","Home")"><i class="icon-shopping-cart icon-white"></i> Voir Detail »</a>
                    <div class="row">
                        @if (Model.Pictures != null)
                        {
                            foreach (var picture in Model.Pictures)
                            {
                                <div class="col-md-3">
                                    <img src="data:@picture.ContentType;base64,@Convert.ToBase64String(picture.Content)" class="img-thumbnail" />
                                </div>
                            }
                        }
                    </div>
                </div>
            </li>
        }
    </ul>